<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input ngControl="name"
            #name="ngForm"
            id="name"
            type="text"
            class="form-control"
            required
            minlength="3">
        <div *ngIf="name.touched && name.errors"> <!-- must check errors here to avoid null check below -->
            <div class="alert alert-danger"
                *ngIf="name.errors.required">
                First name is required.
            </div>
            <div
                *ngIf="name.errors.minlength"
                class="alert alert-danger">
                First name should be minimum {{ name.errors.minlength.requiredLength }} characters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">First Name</label>
        <input ngControl="email"
            #email="ngForm"
            id="email"
            type="text"
            class="form-control"
            required
            minlength="3">
        <div *ngIf="email.touched && email.errors"> <!-- must check errors here to avoid null check below -->
            <div class="alert alert-danger"
                *ngIf="email.errors.required">
                First name is required.
            </div>
            <div
                *ngIf="email.errors.minlength"
                class="alert alert-danger">
                First name should be minimum {{ email.errors.minlength.requiredLength }} characters.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="frequency">Email frequency</label>
        <select
            ngControl="frequency"
            id="frequency"
            class="form-control"
            #frequency="ngForm"
            required>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
        </select>
        <div
            *ngIf="frequency.touched && !frequency.valid"
            class="alert alert-danger">
            Frequency is required.
        </div>
    </div>
    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid">
        Submit
    </button>
</form>