<form
    (ngSubmit)="signup()"
    [ngFormModel]="form">
    <div class="form-group">
        <label for="current_password">Current Password</label>
        <input
            id="current_password"
            type="text"
            class="form-control"
            #current_password="ngForm"
            ngControl="current_password"> <!-- member of ControlGroup object -->

        <!-- control.pending is true when an async validator is in progress -->
        <!--<div *ngIf="current_password.control.pending">Checking current password is correct...</div>-->
        <div *ngIf="current_password.errors && current_password.touched">
            <div
                class="alert alert-danger"
                *ngIf="current_password.errors.required">
                Current password is required.
            </div>
            <div
                class="alert alert-danger"
                *ngIf="current_password.errors.incorrect">
                Current password is incorrect.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="new_password">New Password</label>
        <input
            id="new_password"
            type="text"
            class="form-control"
            #new_password="ngForm"
            ngControl="new_password"> <!-- member of ControlGroup object -->

        <!-- control.pending is true when an async validator is in progress -->
        <!--<div *ngIf="new_password.control.pending">Checking current password is correct...</div>-->
        <div *ngIf="new_password.errors && new_password.touched">
            <div
                class="alert alert-danger"
                *ngIf="new_password.errors.required">
                New password is required.
            </div>
            <div
                class="alert alert-danger"
                *ngIf="new_password.errors.minlength">
                New password must be at least {{ new_password.errors.minlength.requiredLength }} characters long.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input
            id="confirm_password"
            type="text"
            class="form-control"
            #confirm_password="ngForm"
            ngControl="confirm_password"> <!-- member of ControlGroup object -->

        <!-- control.pending is true when an async validator is in progress -->
        <!--<div *ngIf="confirm_password.control.pending">Checking current password is correct...</div>-->
        <div *ngIf="confirm_password.errors && confirm_password.touched">
            <div
                class="alert alert-danger"
                *ngIf="confirm_password.errors.required">
                Confirm password is required.
            </div>
            <div
                class="alert alert-danger"
                *ngIf="confirm_password.errors.minlength">
                Confirm password must be at least {{ confirm_password.errors.minlength.requiredLength }} characters long.
            </div>
        </div>
        <div
            class="alert alert-danger"
            *ngIf="(form.controls.new_password.value!=confirm_password.value)&&confirm_password.touched">
            Confirm password must match new password.
        </div>
    </div>

    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid">
        Change Password
    </button>
</form>