<form>
    <div class="form-group">
        <!-- the labels for field must match the id of the input field,
        so when you click on the label, it highlights the input -->
        <label for="firstName">First Name</label>
        <!-- ngControl is the directive for form validation
        if we don't implement manually, it is done implicitly.
        # defines a local variable, ngForm is the ngControl for this input,
        then we print this by binding to change to inspect the value. -->
        <input ngControl="firstName" #firstName="ngForm" (change)="log(firstName)" id="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngControl="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>