<form
    (ngSubmit)="signup()"
    [ngFormModel]="form"> <!-- class variable name of ControlGroup object -->
    <div class="form-group">
        <label for="username">Username</label>
        <input
            id="username"
            type="text"
            class="form-control"
            #username="ngForm"
            ngControl="username"> <!-- member of ControlGroup object -->
        <div
            class="alert alert-danger"
            *ngIf="!username.valid">
            <!-- *ngIf="!form.controls['username'].valid" also works.-->
            Username is required.
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            id="password"
            type="text"
            class="form-control"
            #password="ngForm"
            ngControl="password"> <!-- member of ControlGroup object -->
        <div
            class="alert alert-danger"
            *ngIf="!password.valid">
            <!-- *ngIf="!form.controls['password'].valid" also works.-->
            Password is required.
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>